<ion-header>
  <ion-toolbar color="darkness">
    <ion-title color="carmesim"><b>Perfil</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="login-logo">
  <!-- <ion-avatar image> -->
    <img src="../../assets/dclogo.PNG">
  <!-- </ion-avatar> -->
 </div>

  <ion-list>
    <ion-item>
      <ion-label>{{ user.name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ user.email }}</ion-label>
    </ion-item>
  </ion-list>

  <!-- <ion-item (click)="updatePicture()">Update Picture</ion-item> -->
  <ion-button expand="block" color="darkness" [routerLink]="['/usuarios/lista-pedido']"><b class="pedidoscor">Meus pedidos</b></ion-button> 
  <ion-button expand="block" color="darkness" [routerLink]="['/usuarios/enderecos']"><b class="enderecoscor">Meus endereços</b></ion-button> 
  <ion-button expand="block" color="carmesim" (click)="sair()"><b class="saircor">Sair</b></ion-button> 

</ion-content>
