<ion-header>
  <ion-toolbar color="darkness">
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="login-logo">
  <!-- <ion-avatar image> -->
    <img src="../../assets/dclogo.PNG">
  <!-- </ion-avatar> -->
 </div>

  <ion-list>
    <ion-item>
      <ion-label>{{ user.name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ user.email }}</ion-label>
    </ion-item>
  </ion-list>

  <!-- <ion-item (click)="updatePicture()">Update Picture</ion-item> -->
  <ion-button expand="block" color="carmesim" [routerLink]="['/usuarios/lista-pedido']">Pedidos</ion-button> 
  <ion-button expand="block" color="carmesim" [routerLink]="['/usuarios/enderecos']">Meus Endereços</ion-button> 
  <ion-button expand="block" color="darkness" (click)="sair()">Sair</ion-button> 

</ion-content>
