// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
  :root {
    --ion-color-roxo: #8000ff;
    --ion-color-roxo-rgb: 128,0,255;
    --ion-color-roxo-contrast: #ffffff;
    --ion-color-roxo-contrast-rgb: 255,255,255;
    --ion-color-roxo-shade: #7100e0;
    --ion-color-roxo-tint: #8d1aff;
  }
  
  .ion-color-roxo {
    --ion-color-base: var(--ion-color-roxo);
    --ion-color-base-rgb: var(--ion-color-roxo-rgb);
    --ion-color-contrast: var(--ion-color-roxo-contrast);
    --ion-color-contrast-rgb: var(--ion-color-roxo-contrast-rgb);
    --ion-color-shade: var(--ion-color-roxo-shade);
    --ion-color-tint: var(--ion-color-roxo-tint);
  }

  :root {
    --ion-color-carmesim: #ff1111;
    --ion-color-carmesim-rgb: 255,17,17;
    --ion-color-carmesim-contrast: #ffffff;
    --ion-color-carmesim-contrast-rgb: 255,255,255;
    --ion-color-carmesim-shade: #e00f0f;
    --ion-color-carmesim-tint: #ff2929;
  }
  
  .ion-color-carmesim {
    --ion-color-base: var(--ion-color-carmesim);
    --ion-color-base-rgb: var(--ion-color-carmesim-rgb);
    --ion-color-contrast: var(--ion-color-carmesim-contrast);
    --ion-color-contrast-rgb: var(--ion-color-carmesim-contrast-rgb);
    --ion-color-shade: var(--ion-color-carmesim-shade);
    --ion-color-tint: var(--ion-color-carmesim-tint);
  }

  :root {
    --ion-color-darkness: #000000;
    --ion-color-darkness-rgb: 0,0,0;
    --ion-color-darkness-contrast: #ffffff;
    --ion-color-darkness-contrast-rgb: 255,255,255;
    --ion-color-darkness-shade: #000000;
    --ion-color-darkness-tint: #1a1a1a;
  }
  
  .ion-color-darkness {
    --ion-color-base: var(--ion-color-darkness);
    --ion-color-base-rgb: var(--ion-color-darkness-rgb);
    --ion-color-contrast: var(--ion-color-darkness-contrast);
    --ion-color-contrast-rgb: var(--ion-color-darkness-contrast-rgb);
    --ion-color-shade: var(--ion-color-darkness-shade);
    --ion-color-tint: var(--ion-color-darkness-tint);
  }
  
  :root {
    --ion-color-brancao: #ffffff;
    --ion-color-brancao-rgb: 255,255,255;
    --ion-color-brancao-contrast: #000000;
    --ion-color-brancao-contrast-rgb: 0,0,0;
    --ion-color-brancao-shade: #e0e0e0;
    --ion-color-brancao-tint: #ffffff;
  }
  
  .ion-color-brancao {
    --ion-color-base: var(--ion-color-brancao);
    --ion-color-base-rgb: var(--ion-color-brancao-rgb);
    --ion-color-contrast: var(--ion-color-brancao-contrast);
    --ion-color-contrast-rgb: var(--ion-color-brancao-contrast-rgb);
    --ion-color-shade: var(--ion-color-brancao-shade);
    --ion-color-tint: var(--ion-color-brancao-tint);
  }
  
  :root {
    --ion-color-vinho: #d20000;
    --ion-color-vinho-rgb: 210,0,0;
    --ion-color-vinho-contrast: #ffffff;
    --ion-color-vinho-contrast-rgb: 255,255,255;
    --ion-color-vinho-shade: #b90000;
    --ion-color-vinho-tint: #d71a1a;
  }
  
  .ion-color-vinho {
    --ion-color-base: var(--ion-color-vinho);
    --ion-color-base-rgb: var(--ion-color-vinho-rgb);
    --ion-color-contrast: var(--ion-color-vinho-contrast);
    --ion-color-contrast-rgb: var(--ion-color-vinho-contrast-rgb);
    --ion-color-shade: var(--ion-color-vinho-shade);
    --ion-color-tint: var(--ion-color-vinho-tint);
  }

  :root {
    --ion-color-lima: #00ff00;
    --ion-color-lima-rgb: 0,255,0;
    --ion-color-lima-contrast: #000000;
    --ion-color-lima-contrast-rgb: 0,0,0;
    --ion-color-lima-shade: #00e000;
    --ion-color-lima-tint: #1aff1a;
  }
  
  .ion-color-lima {
    --ion-color-base: var(--ion-color-lima);
    --ion-color-base-rgb: var(--ion-color-lima-rgb);
    --ion-color-contrast: var(--ion-color-lima-contrast);
    --ion-color-contrast-rgb: var(--ion-color-lima-contrast-rgb);
    --ion-color-shade: var(--ion-color-lima-shade);
    --ion-color-tint: var(--ion-color-lima-tint);
  }
  
  