<ion-header>
  <ion-toolbar color="darkness">
    <ion-title color="carmesim"><b>Login</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Senha</ion-label>
      <ion-input type="password" formControlName="senha"></ion-input>
    </ion-item>

    <div margin-vertical>
      <ion-button color="darkness" expand="block" type="submit"><b class="entrarcor">Entrar</b></ion-button>
    </div>
  </form>

  <ion-button expand="block" color="dark" fill="clear" margin-top [routerLink]="['/esqueci-senha']"><b>Esqueci minha senha</b></ion-button>
  <ion-button expand="block" color="dark" fill="clear" [routerLink]="['/criar-conta']"><b>Criar uma conta</b></ion-button>
</ion-content>