<ion-header>
    <ion-toolbar color="darkness">
      <ion-title color="carmesim"><b>Home</b></ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
<ion-grid text-wrap>
  <ion-row>
    <ion-col size="6" *ngFor="let produto of produtos | async" (click)="adicionarProduto(produto.key)">
         <ion-card>
           <ion-card-header>
               <ion-card-subtitle><img [src]="produto.img" class="imagemHome"></ion-card-subtitle>

                       <ion-row>
                             <ion-card-title> {{produto.nome}} </ion-card-title>
                       </ion-row>

                           <br>

                       <ion-row class="precoEs">
                             <app-valor [valor]="produto.preco"></app-valor>
                      </ion-row>

           </ion-card-header>     
         </ion-card>
     </ion-col>   
 </ion-row>
</ion-grid>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="carrinhoPossuiItens">
  <ion-fab-button [routerLink]="['/pedido/carrinho']" color="darkness">
  <ion-icon name="cart" class="vermelhocor"></ion-icon>
</ion-fab-button>
</ion-fab>
</ion-content>
