<!-- <ion-header>
  <ion-toolbar color="darkness">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title color="carmesim"><b>Sobre</b></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
<form [formGroup]="formUsuarios" *ngFor="let usuario of usuarios | async">
  <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input type="text" formControlName="nome"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <div margin-vertical>
      <ion-button color="darkness" expand="block" [routerLink]="['/usuarios/editar', usuario.key">Editar</ion-button>
    </div>
</form>
</ion-content> -->
